.nav_Container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.Logo_png{
    width: 90px;
}

.home-btn{
  border: none;
  outline: none;
  background-color:#3333333f;
  color:#f5f6fae8;
  text-decoration: none;
  font-weight: 900;
  font-size: 1rem;
  padding: 0.3rem 1rem;
  border-radius: 2rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.home-btn:hover, .home-btn:active{
  font-weight: 900;
  color:#333333;
  background-color: #FF7043;
}